<mat-card>
    <mat-card-content>
        <form class="user-form" #userForm="ngForm"
        (ngSubmit)="onFormSubmit(userForm)" appPasswordConfirmationValidation>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-100" [appearance]="'outline'">
                    <mat-label>Nome</mat-label>
                    <input type="text" name="nome" id="nome" matInput required [(ngModel)]="userSelected.name">
                    <mat-error>O <strong>Nome</strong> é obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50" [appearance]="'outline'">
                    <mat-label>Usuario</mat-label>
                    <input type="text" name="usuario" id="usuario" #userNameControl="ngModel" matInput required
                        [(ngModel)]="userSelected.username" [ngModelOptions]="{ updateOn: 'blur'}"
                        [appCredentialValidator]="'username'">
                    <mat-hint>Nome de usuário utilizado para login</mat-hint>
                    <mat-error *ngIf="userNameControl.hasError('required')">O <strong>Usuário</strong> é
                        obrigatório</mat-error>
                    <mat-error
                        *ngIf="userNameControl.hasError('invalidUsername') && !userNameControl.hasError('required')">
                        Este <strong>Usuário</strong> já está sendo é utilizado.</mat-error>
                </mat-form-field>
                <mat-form-field class="user-form__item user-form__item-50" [appearance]="'outline'">
                    <mat-label>Email</mat-label>
                    <input type="text" name="email" id="email" #emailControl="ngModel" matInput required
                        [(ngModel)]="userSelected.email" [ngModelOptions]="{ updateOn: 'blur'}"
                        [appCredentialValidator]="'email'" appEmailPatternValidator>
                    <mat-hint>Email utilizado para login</mat-hint>
                    <mat-error *ngIf="emailControl.hasError('required')">O <strong>Email</strong> é
                        obrigatório</mat-error>
                    <mat-error
                        *ngIf="emailControl.hasError('invalidEmailPattern') && !emailControl.hasError('required')">
                        O <strong>Email</strong> digitado é invalido
                    </mat-error>
                    <mat-error *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')">
                        Este <strong>Email</strong> já está sendo utilizado
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50" [appearance]="'outline'">
                    <mat-label>Senha</mat-label>
                    <input type="password" name="password" id="password" #passwordControl="ngModel" matInput required
                        (ngModelChange)="onPasswordChange($event)" [(ngModel)]="userSelected.password"
                        appPasswordStrengthValidator>
                    <mat-error *ngIf="passwordControl.hasError('required')">A <strong>Senha</strong> é
                        obrigatória
                    </mat-error>
                    <mat-error
                        *ngIf="passwordControl.hasError('invalidPasswordStrngth') && !passwordControl.hasError('required')">
                        Digite uma <strong>senha</strong> mais forte
                    </mat-error>
                    <mat-progress-bar [value]="passwordStrengthValue" [ngClass]="{
                            'weak-password': passwordStrengthValue <=30,
                            'medium-password': passwordStrengthValue === 60,
                            'strong-password': passwordStrengthValue > 60
                        }"></mat-progress-bar>
                </mat-form-field>
                <mat-form-field class="user-form__item user-form__item-50" [appearance]="'outline'">
                    <mat-label>Confirmação de senha</mat-label>
                    <input matInput autocomplete="one-time-code" type="text" name="passwordConfirmation" ngModel
                        #passwordConfirmationControl="ngModel" required />
                    <mat-error *ngIf="passwordConfirmationControl.hasError('required')">
                        A <strong>Confirmação de Senha</strong> é obrigatória.
                    </mat-error>
                    <mat-error
                        *ngIf="passwordConfirmationControl.hasError('invalidPasswordConfirmation') && !passwordConfirmationControl.hasError('required')">
                        As <strong>senhas</strong> não são compatíveis.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50" [appearance]="'outline'">
                    <mat-label>Data de nascimento</mat-label>
                    <input id="birthDate" matInput [matDatepicker]="picker" name="birthDate" [ngModel]="dateValue"
                        [min]="minDate" [max]="maxDate" (dateChange)="onDateChange($event)" #birthDateControl="ngModel"
                        required readonly />
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancelar</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Confirmar</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                    <mat-hint>dd/mm/aaaa</mat-hint>
                    <mat-error *ngIf="passwordConfirmationControl.hasError('required')">
                        A <strong>data de nascimento</strong> é obrigatória.
                    </mat-error>

                </mat-form-field>
                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Estados</mat-label>
                    <mat-select name="state" [(ngModel)]="userSelected.state" required>
                        @for (state of statesList; track $index) {
                        <mat-option [value]="state.id">{{state.descricao}}</mat-option>
                        }
                    </mat-select>
                    <mat-error>O <strong>Estado</strong> é obrigatório.</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <div class="user-form__musics">
                    <mat-divider></mat-divider>
                    <div class="user-form__musics-title">
                        <h2>Minhas Músicas</h2>
                    </div>
                    <table class="user-form__item user-form__item-100" mat-table [dataSource]="userSelected.musics">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef>Título</th>
                            <td mat-cell *matCellDef="let el; let i = index">
                                <mat-form-field>
                                    <mat-label>Título</mat-label>
                                    <input [name]="'titulo'+ i" type="text" matInput [(ngModel)]="el.title" required />
                                    <mat-error>O <strong>Título</strong> é obrigatória.</mat-error>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="band">
                            <th mat-header-cell *matHeaderCellDef>Banda</th>
                            <td mat-cell *matCellDef="let el; let i = index">
                                <mat-form-field>
                                    <mat-label>Banda</mat-label>
                                    <input [name]="'band'+ i" type="text" matInput [(ngModel)]="el.band" required />
                                    <mat-error>A <strong>Banda</strong> é obrigatória.</mat-error>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="genre">
                            <th mat-header-cell *matHeaderCellDef>Gênero</th>
                            <td mat-cell *matCellDef="let el; let i = index">
                                <mat-form-field>
                                    <mat-label>Gênero</mat-label>
                                    <input [matAutocomplete]="auto" [name]="'genre'+ i" type="text" matInput
                                        [(ngModel)]="el.genre" (ngModelChange)="filterGenres($event)" required />
                                    <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
                                        @for (genre of filteredGenreList; track $index) {
                                        <mat-option [value]="genre.id">{{genre.description}}</mat-option>
                                        }
                                    </mat-autocomplete>
                                    <mat-error>O <strong>Gênero</strong> é obrigatório.</mat-error>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="favorite">
                            <th mat-header-cell *matHeaderCellDef>Favorita</th>
                            <td mat-cell *matCellDef="let el; let i = index">
                                <mat-checkbox [name]="'favorite'+i" [(ngModel)]="el.isFavorite"
                                    [disabled]="alreadyCheckedBox() && !el.isFavorite"></mat-checkbox>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                </div>
            </div>
            <div class="user-form__row user-form__button-container">
                <button type="submit" mat-raised-button color="primary">Salvar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>