<mat-card>
    <mat-card-content>
        <form>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-100" [appearance]="'outline'">
                    <mat-label>Nome</mat-label>
                    <input type="text" name="nome" id="nome" matInput required [(ngModel)]="userSelected.name">
                    <mat-error>O <strong>Nome</strong> é obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50" [appearance]="'outline'">
                    <mat-label>Usuario</mat-label>
                    <input type="text" name="usuario" id="usuario" #userNameControl="ngModel" matInput required
                        [(ngModel)]="userSelected.username" [ngModelOptions]="{ updateOn: 'blur'}"
                        [appCredentialValidator]="'username'">
                    <mat-hint>Nome de usuário utilizado para login</mat-hint>
                    <mat-error *ngIf="userNameControl.hasError('required')">O <strong>Usuário</strong> é
                        obrigatório</mat-error>
                    <mat-error
                        *ngIf="userNameControl.hasError('invalidUsername') && !userNameControl.hasError('required')">
                        Este <strong>Usuário</strong> já está sendo é utilizado.</mat-error>
                </mat-form-field>
                <mat-form-field class="user-form__item user-form__item-50" [appearance]="'outline'">
                    <mat-label>Email</mat-label>
                    <input type="text" name="email" id="email" #emailControl="ngModel" matInput required
                        [(ngModel)]="userSelected.email" [ngModelOptions]="{ updateOn: 'blur'}"
                        [appCredentialValidator]="'email'" appEmailPatternValidator>
                    <mat-hint>Email utilizado para login</mat-hint>
                    <mat-error *ngIf="emailControl.hasError('required')">O <strong>Email</strong> é
                        obrigatório</mat-error>
                    <mat-error
                        *ngIf="emailControl.hasError('invalidEmailPattern') && !emailControl.hasError('required')">
                        O <strong>Email</strong> digitado é invalido
                    </mat-error>
                    <mat-error *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')">
                        Este <strong>Email</strong> já está sendo utilizado
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50" [appearance]="'outline'">
                    <mat-label>Email</mat-label>
                    <input type="password" name="password" id="password" #passwordControl="ngModel" matInput required
                        (ngModelChange)="onPasswordChange($event)" [(ngModel)]="userSelected.password"
                        appPasswordStrengthValidator>
                    <mat-error *ngIf="passwordControl.hasError('required')">A <strong>Senha</strong> é
                        obrigatória
                    </mat-error>
                    <mat-error
                        *ngIf="passwordControl.hasError('invalidPasswordStrngth') && !passwordControl.hasError('required')">
                        Digite uma <strong>senha</strong> mais forte
                    </mat-error>
                    <mat-progress-bar [value]="passwordStrengthValue" [ngClass]="{
                            'weak-password': passwordStrengthValue <=30,
                            'medium-password': passwordStrengthValue === 60,
                            'strong-password': passwordStrengthValue > 60
                        }"></mat-progress-bar>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
</mat-card>