<h2 mat-dialog-title>Resumo das alterações</h2>
<mat-dialog-content class="mat-topography">
    <div class="infos">
        <div class="infos__row">
            <div class="infos__item infos__header infos__header--border-top-left">
                Antes
            </div>
            <div class="infos__item infos__header infos__header--border-top-right">
                Depois
            </div>
        </div>
        <div class="infos__row">
            <div class="infos__item"><strong>Nome:</strong> Fulano</div>
            <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
            <div class="infos__item"><strong>Nome:</strong> Fulano Alterado</div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" mat-dialog-close>Salvar</button>
</mat-dialog-actions>