<h2 mat-dialog-title>Resumo das alterações</h2>
<mat-dialog-content class="mat-topography">
    <div class="infos">
        <div class="infos__row">
            <div class="infos__item infos__header infos__header--border-top-left">
                Antes
            </div>
            <div class="infos__item infos__header infos__header--border-top-right">
                Depois
            </div>
        </div>
        <div class="infos__row">
            <div class="infos__item"><strong>Nome:</strong> {{data.originalUser.name}}</div>
            <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
            <div class="infos__item"><strong>Nome:</strong>{{data.userSelected.name}}</div>
        </div>
        <div class="infos__row">
            <div class="infos__item"><strong>Usuário:</strong> {{data.originalUser.username}}</div>
            <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
            <div class="infos__item"><strong>Usuário:</strong>{{data.userSelected.username}}</div>
        </div>
        <div class="infos__row">
            <div class="infos__item"><strong>Email:</strong> {{data.originalUser.email}}</div>
            <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
            <div class="infos__item"><strong>Email:</strong>{{data.userSelected.email}}</div>
        </div>
        <div class="infos__row">
            <div class="infos__item"><strong>Senha:</strong> {{data.originalUser.password}}</div>
            <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
            <div class="infos__item"><strong>Senha:</strong>{{data.userSelected.password}}</div>
        </div>
        <div class="infos__row">
            <div class="infos__item"><strong>Data de nascimento:</strong> {{data.originalUser.birthDate}}</div>
            <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
            <div class="infos__item"><strong>Data de nascimento:</strong>{{data.userSelected.birthDate}}</div>
        </div>
        <div class="infos__row">
            <div class="infos__item"><strong>Estado:</strong> {{data.originalUser.state | stateDescription}}</div>
            <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
            <div class="infos__item"><strong>Estado:</strong>{{data.userSelected.state | stateDescription}}</div>
        </div>
        <ng-container *ngFor="let music of data.originalUser.musics; let i = index">
            <div class="infos__row">
                <div class="infos__item"><strong>Musica {{i + 1}} - Titulo:</strong> {{music.title}}</div>
                <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
                <div class="infos__item"><strong>Musica {{i + 1}} -
                        Titulo:</strong>{{data.userSelected.musics[i].title}}</div>
            </div>
            <div class="infos__row">
                <div class="infos__item"><strong>Musica {{i + 1}} - Banda:</strong> {{music.band}}</div>
                <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
                <div class="infos__item"><strong>Musica {{i + 1}} -
                        Banda:</strong>{{data.userSelected.musics[i].band}}</div>
            </div>
            <div class="infos__row">
                <div class="infos__item"><strong>Musica {{i + 1}} - Genero:</strong> {{music.genre | genreDescription}}
                </div>
                <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
                <div class="infos__item"><strong>Musica {{i + 1}} -
                        Genero:</strong>{{data.userSelected.musics[i].genre | genreDescription}}</div>
            </div>
            <div class="infos__row">
                <div class="infos__item"><strong>Musica {{i + 1}} - Favorita:</strong> {{music.isFavorite |
                    isFavoriteDescription}}</div>
                <mat-divider [vertical]="true" style="width: 3px;"></mat-divider>
                <div class="infos__item"><strong>Musica {{i + 1}} - Favorita:</strong>
                    {{data.userSelected.musics[i].isFavorite | isFavoriteDescription}}</div>
            </div>
        </ng-container>

    </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Salvar</button>
</mat-dialog-actions>